
#slika1 {
    position: relative;
    top: 50px ;
    left: 100px ; 
    margin: top ;

}

#slika2 {
    position:absolute;
    right: 10px;
    top: 15px;
}

#slika3 {
 position: absolute;
 bottom: 10px;
    
}