div.prvi {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.drugi {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
div.treci 
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.prvi > blockquote {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

div.drugi > blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif
    
}

div.treci > blockquote {
    font-family: Arial, Helvetica, sans-serif;
}
*{
    font-size: medium;
    font-weight: bold;
}
div.prvi {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p span {
    
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Roboto" ;
    src: url(./text.css/Roboto-Black.ttf);
}
h1 {
    font-family: "Roboto";
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h2 {
    font-family: 'Roboto', sans-serif;
}